import streamlit as st
import yfinance as yf
import pandas as pd
import plotly.graph_objs as go
import joblib
import requests
from io import BytesIO
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.forecasting.compose import make_reduction
from sktime.forecasting.naive import NaiveForecaster
from sklearn.ensemble import RandomForestRegressor
